<a href="https://colab.research.google.com/github/Berenice2018/DeepLearning/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes about Pandas**

In [0]:
import numpy as np
import pandas as pd

# Creating pandas Series

A Pandas series is a one-dimensional array-like object that can hold many data types

| Pandas Series | NumPy ndarray |
| --- | --- | 
| you can assign an index label to each element | cannot | 
| can hold data of different data types | cannot |
| data is not indexed with the label names |  indexed with numbers

In [2]:
# create a Pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the Groceries Pandas Series
print(groceries)

print('\nGroceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements

In [3]:
# print the index and data of the series
print('The data in Groceries is:', groceries.values)
print('The index of Groceries is:', groceries.index)

The data in Groceries is: [30 6 'Yes' 'No']
The index of Groceries is: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [4]:
# Check if a label exists in the series
x = 'apples' in groceries
y = 'elephant' in groceries
print(x, y)

True False

# Accessing and Deleting Elements in pandas Series

The attribute *.loc* stands for location, it states that we are using a **labeled** index. 

The attribute .*iloc* stands for integer location, it states that we are using a **numerical** index.

In [5]:
# single index label
print('How many eggs do we need to buy:', groceries['eggs'])
# access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
# use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
# use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
# use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
# access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
Do we need bread:
 bread    No
dtype: object
How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

The `Series.drop(label)`  method drops elements from the Series out of place, it doesn't change the original Series being modified

Delete items from a Pandas Series in place by setting the keyword  `inplace` to `True` in the `.drop()`

In [6]:
print('Original Grocery List:\n', groceries)

# remove apples from our grocery list. The drop function removes elements out of place
print('\nWe remove apples (out of place):\n', groceries.drop('apples'))

print('\nOriginal grocery List after removing apples out of place:\n', groceries)

groceries.drop(['apples', 'eggs'], inplace = True)
print('\nRemoved apples and eggs in place:\n', groceries )

Original Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

We remove apples (out of place):
 eggs      30
milk     Yes
bread     No
dtype: object

Original grocery List after removing apples out of place:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Removed apples and eggs in place:
 milk     Yes
bread     No
dtype: object

# Arithmetic operations

In [14]:
# a Pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [8]:
# apply arithmetic operations to each item in fruits
print('fruits + 2:\n', fruits + 2)
print('\nfruits - 2:\n', fruits - 2)
print('\nfruits * 2:\n', fruits * 2) 
print('\nfruits / 2:\n', fruits / 2) # results in dtype float64

fruits + 2:
 apples     12
oranges     8
bananas     5
dtype: int64

fruits - 2:
 apples     8
oranges    4
bananas    1
dtype: int64

fruits * 2:
 apples     20
oranges    12
bananas     6
dtype: int64

fruits / 2:
 apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [13]:
# apply different mathematical functions to all elements of fruits
print('\nEXP(X) = \n', np.exp(fruits))
print('\nSQRT(X) =\n', np.sqrt(fruits))
print('\nPOW(X,2) =\n',np.power(fruits,2)) # raise to the power of 2

EXP(X) =
 apples     22026.465795
oranges      403.428793
bananas       33.115452
dtype: float64

SQRT(X) =
 apples     3.162278
oranges    2.449490
bananas    1.870829
dtype: float64

POW(X,2) =
 apples     100.00
oranges     36.00
bananas     12.25
dtype: float64

Apply arithmetic operations on Pandas Series of mixed data type provided that the **arithmetic operation is defined for all data types** in the Series

When you have mixed data types in your Pandas Series make sure the arithmetic operations are valid on all the data types of your elements.

In [28]:
series2 = pd.Series([100], index=['cherries'])

print(groceries.append(series2) *2)
print()
groceries * 2

milk        YesYes
bread         NoNo
cherries       200
dtype: object

milk     YesYes
bread      NoNo
dtype: object

In [36]:
# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter'] 

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(data = distance_from_sun, index = planets)
print(dist_planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18
print('\ntime_light:\n', time_light)

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40] 
print('\nclose_planets:\n', close_planets)

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

time_light:
 Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

close_planets:
 Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

# Pandas DataFrames

Pandas DataFrames are 2-dimensional data structures with labeled rows and columns, that can hold many data types. (Like an Excel spreadsheet)

Create Pandas DataFrames manually or by loading data from a file.

In [38]:

# create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# print the type of items to see that it is a dictionary
print(type(items))


# create a Pandas DataFrame by passing it a dictionary of Pandas Series
shopping_carts = pd.DataFrame(items)

shopping_carts

<class 'dict'>

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

So whenever a DataFrame is created, if a particular column doesn't have values for a particular row index, Pandas will put a NaN value there. 

If we were to feed this data into a machine learning algorithm we will have to remove these NaN values first.

If we don't provide index labels to the Pandas Series, Pandas will use numerical row indexes when it creates the DataFrame:
Example:

In [39]:
# Create a dictionary of Pandas Series without indices
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# create a DataFrame
df = pd.DataFrame(data)
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [40]:
# print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The values in shopping_carts is:\n', shopping_carts.values)
print()
print('The row indices in shopping_carts are:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[500. 245.]
 [ 40.  nan]
 [110.  nan]
 [ 45.  25.]
 [ nan  55.]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Alice', 'Bob'], dtype='object')